#
# Copyright (C) 2014  Rudolf Tammekivi <rtammekivi@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

on init
    # IDEOS X5 Settings
    chown system system /sys/devices/platform/msm_otg/mode
    chown system system /sys/devices/platform/msm_hsusb/gadget/manual_chg_current

    # HW Props
    chown system system /sys/hwprops/btmac
    chown system system /sys/hwprops/wlanmac
    chown system system /sys/hwprops/reset

    # Bluetooth
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite

    # Sensors
    chown system system /sys/bus/i2c/devices/0-0018/enable
    chown system system /sys/bus/i2c/devices/0-0018/pollrate_ms
    chown system system /sys/bus/i2c/devices/0-0039/als_poll_delay
    chown system system /sys/bus/i2c/devices/0-0039/enable_als_sensor
    chown system system /sys/bus/i2c/devices/0-0039/enable_ps_sensor
    chown system system /sys/bus/i2c/devices/0-0068/enable
    chown system system /sys/bus/i2c/devices/0-0068/pollrate_ms

    chown compass compass /dev/akm8975_dev
    chown compass compass /sys/class/compass/akm8975/enable_acc
    chown compass compass /sys/class/compass/akm8975/enable_mag
    chown compass compass /sys/class/compass/akm8975/enable_fusion
    chown compass compass /sys/class/compass/akm8975/delay_acc
    chown compass compass /sys/class/compass/akm8975/delay_mag
    chown compass compass /sys/class/compass/akm8975/delay_fusion
    chown compass compass /sys/class/compass/akm8975/accel
    chmod 660 /sys/class/compass/akm8975/enable_acc
    chmod 660 /sys/class/compass/akm8975/enable_mag
    chmod 660 /sys/class/compass/akm8975/enable_fusion
    chmod 660 /sys/class/compass/akm8975/delay_acc
    chmod 660 /sys/class/compass/akm8975/delay_mag
    chmod 660 /sys/class/compass/akm8975/delay_fusion
    chmod 220 /sys/class/compass/akm8975/accel

on post-fs-data
    mkdir /data/misc/hwprops 0770 system system
    mkdir /data/misc/sensors 0770 system system

service hwprops /system/bin/hwprops
    class main
    oneshot

service akmdfs /system/bin/akmdfs -m7
     class late_start
     user compass
     group compass misc input
